# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environment
venv/
.env

# Django
*.sqlite3
db.sqlite3
/staticfiles/
media/

# VSCode
.vscode/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.pyc

# Others
*.DS_Store
*.bak
.env
